header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.scots-btn {
    color: white !important;
    background-color: #500778 !important;
}