.parliament-card {
    border: 0;
    border-radius: 0;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-link {
    color: #500778 !important;
    text-decoration: none;
} .card-link:hover {
    text-decoration: underline;
}